<div class="container">
  <h3>Categories</h3>
    <div class="card">
      <div class="list-group">
        <% @categories.each do |category| %>
          <details class="list-group-item">
            <summary><%= link_to category.name, category %></summary>
            <ul class="list-group pt-2">
              <div class="row">
                <% @subcategories.each do |subcategory| %>
                  <% if subcategory.category_id == category.id%>
                    <div class="col-3">
                      <li class="list-group-item"><%= link_to subcategory.name, subcategory %></li>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </ul>
          </details>
        <% end %>
      </div>
    </div>
</div>