<div class="container">
  <h3><%= @category.name %></h3>
  <%= paginate(@beers) %>
    <div class="row">
      <%= render partial: "beers/beer", collection: @beers, locals: {beer_link: true, show_details: false}%>
    </div>
  <%= paginate(@beers) %>
</div>